<header class="header"></header>
    <a href="/"  class="header__logo">Admin Panel</a>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">contact</a>
                </li>
               
        </nav>
        <div class="c header__button">
            <a href="/logout">
                Logout
               </a>
                
            

        </div>

</header>